<div class="page-style">
  <div class="card-style">
    <span><b><mat-label>Hauppauge FD vehicle 356</mat-label></b> </span>
    <table>
      <tr>
        <td>
          <span class="history-card">Event History Card</span>
        </td>
        <td>
          <span class="details-card">Vehicle Details Card</span>
        </td>
        <td>
          <span class="status-card">Vehicle status Card</span>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <div class="dash-style">
    <table class="dash-table">
      <tbody>
        <tr>
          <th>Asset Name</th>
          <th>Assigned Location</th>
          <th>Status</th>
          <th>Last Reported</th>
        </tr>

        <tr>
          <td>Xenon Light</td>
          <td>Left Rear</td>
          <td class="status-onvehicle">On Vehicle</td>
          <td>08:34</td>
        </tr>

        <tr>
          <td>SCBA</td>
          <td>Left Rear</td>
          <td class="status-wronglocation">On Vehicle</td>
          <td>08:34</td>
        </tr>

        <tr>
          <td>Blue Bag</td>
          <td>Left Rear</td>
          <td class="status-onvehicle">On Vehicle</td>
          <td>08:34</td>
        </tr>

        <tr>
          <td>HH Oscillatior</td>
          <td>Right Front</td>
          <td class="status-offvehicle">Off Vehicle</td>
          <td>08:34</td>
        </tr>

        <tr></tr>
      </tbody>
    </table>
  </div>
</div>
